:root {
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 80%, 94%);
}

html {
    font-size: 100%
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Manrope';
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 13px;
    background-color: purple;
}

.container {
    width: 45rem;
    height: 17.5rem;
    display: flex;
    flex-direction: row;
}

aside, .drawers {
    width: 17.5rem;
    height: 17.5rem;
}

.drawers {
    border-radius: 1rem 0rem 0rem 1rem;
}

.card {
    width: 27.8rem;
    height: 17.5rem;
    padding: 2.5rem;
    background-color: white;
    border-radius: 0rem 1rem 1rem 0rem;
}

.card-text {
    width: 22.5rem;
    height: 9.3rem;
}

.card-text > h1 {
    font-size: 1.3rem;
    width: 21.8rem;
    height: 5rem;
}

.card-text > p {
    margin-top: 1.5rem;
    font-size: 0.8rem;
    opacity: 0.70;
    width: 21.8rem;
    height: 3.5rem;
}

.card-profile {
    margin-top: 1.5rem;
    width: 22.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
}

#michelle-avatar {
    width: 2.6rem;
    height: 2.5rem;
    border-radius: 50%;
}

.text-profile {
    margin-left: 1rem;
    flex: 1;
}

.text-profile > h1 {
    font-size: 15px;
}

.text-profile > p {
    opacity: 0.50;
}

.tolltip {
    display: flex;
    align-items: center;
}

#share-img {
    width: 1rem;
    height: .8rem;
    align-self: center;
    background-color: var(--Light-Grayish-Blue);
    border-radius: 50%;
}

.hidden {
    display: flex;
}

#share-mobile {
    display: none;
}

.active {
    display: flex;
}

.share {
    display: none;
}

.tooltip {
    display: flex;
    align-items: center;
    position: relative;
}

.tooltip-text {
    background-color: var(--Very-Dark-Grayish-Blue);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 13.5rem;
    height: 3.5rem;
}

.tooltip-text {
    border-radius: 1rem;
    position: absolute;
    width: 13.5rem;
    bottom: 100%;
    left: 50%;
    margin-left: -6.75rem; 
    z-index: 2;
}

.tooltip-text {
    display: none;
}

.tooltip:hover .tooltip-text {
    display: flex;
}

.box {
    position: absolute;
    bottom: -0.10rem;
    width: 3rem;
    height: 3rem;
    transform: rotate(46deg);
    background-color: var(--Very-Dark-Grayish-Blue);
    z-index: 0;
}

.tooltip-text > h1 {
        font-weight: 100;
        font-size: .8rem;
        letter-spacing: 0.4rem;
        text-transform: none;
        font-style: normal;
        text-decoration: none;
        z-index: 1;
}

.share-text {
    color: var(--Light-Grayish-Blue);
    width: 3.8rem;
    font-size: 0.90rem;
}

.img-midia {
    width: 1rem;
    height: 1rem;
    z-index: 1;
}

@media (max-width: 22rem) {

    *, *::before, *::after {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    body {
        background: rgb(16, 86, 214);
    }

    .container {
        width: 20.3rem;
        height: 32rem;
        display: block;
    }

    aside, .drawers {
        height: 12.5rem;
    }

    aside, .drawers, .card {
        width: 20.3rem;
    }

    .drawers {
        border-radius: 1rem 1rem 0rem 0rem;
    }

    .card {
        padding: 2.5rem 0 0 0;
        border-radius: 0rem 0rem 1rem 1rem;
        height: 15.75rem;
    }

    .card-text {
        margin: 0 2.1rem 0 2.1rem;
        width: 16rem;
        height: 9.60rem;
    }

    .card-text > h1 {
        width: 16.3rem;
        height: 4.1rem;
        font-size: 1rem;
    }

    .card-text > p {
        text-align: left;
        margin: 0;
        padding-top: 1.3rem;
        width: 16.3rem;
        height: 5rem;
        font-size: 0.7rem;
    }

    .card-profile {
        display: flex;
        align-items: center;
        margin: 0 auto;
        width: 16.5rem;
        height: 2.5rem;
    }

    .card-profile > img {
        width: 2.6rem;
        height: 2.3rem;
    }

    .share-button {
        width: 1.3rem;
        height: 1.3rem;
        border-radius: 50%;
    }

    .hidden {
        display: none;
    }

    .active {
        display: flex;
    }

    .share {
        padding: 0 1.6rem 0 1.8rem;
        justify-content: space-between;
        align-items: center;
        width: 20.5rem;
        height: 4rem;
        background-color: var(--Very-Dark-Grayish-Blue);
        border-radius: 0rem 0rem 1rem 1rem;
    }
    
    .share > h1 {
        font-weight: 100;
        font-size: .8rem;
        letter-spacing: 0.4rem;
        text-transform: none;
        font-style: normal;
        text-decoration: none;
    }

    #share-img-actived {
        margin-left: 3.1rem;
        color: var(--Light-Grayish-Blue);
        background-color: var(--Grayish-Blue);
    }

    .tolltip-text {
        display: none;
    }

    .tooltip:hover .tooltip-text {
        display: none;
    }
    
}